<html>

<head>
    <title>Blood Request</title>
</head>

<body>
    <!--<img src="{{{headerImage}}}" alt="NamBTS logo" width="100%">-->
    <div style="background-image: url('{{headerImage}}')"></div>
    <h1 style='color: red'>Request for <span style="color: black">{{blood_type}} </span>blood type</h1>
    <p>
        <span>
            Doctor: &nbsp; &nbsp;<b>{{requester}}</b>
        </span>
        <br/>
        <span>
            Amount:  &nbsp; &nbsp;<b>{{amount}} litres</b>
        </span>
        <br/>
        <span>
            Request Date:  &nbsp; &nbsp;<b>{{date}}</b>
        </span>
    </p>
    <p>
        If you wish to donate, please contact Dr. <b>
        <span style="color: red">{{requester}}</span></b>
        via email at: <a href="mailto:{{email}}" style="color: red">{{email}}</a>

    </p>
    <br/>
    <p>This is an automated email from then Blood Donation System, <span style="color: red">Please do not reply!</span></p>
</body>

</html>ˀ